.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  text-decoration: line-through;
  opacity: 0.5;
}

.active {
  background-color: darkcyan;
  color: white;
  font-weight: bold;
}

.error {
  border: 2px solid red;
  outline: none;
}